{% extends 'base.html.twig' %}

{% block body %}
    <div
            {{ react_component('Deaddrop', {
                markerFolder: asset('images/static/'),
            }) }}
            class="h-screen-dvh"
    >
        {{ include('_includes/loading.html.twig', {
            message: "Processing...",
        }) }}
    </div>
{% endblock %}