{% extends 'base.html.twig' %}

{% block title %}New Deaddrop{% endblock %}

{% block body %}
    <h1>Create new Deaddrop</h1>

    {{ include('deaddrop/_form.html.twig') }}

    <a href="{{ path('app_deaddrop_index') }}">back to list</a>
{% endblock %}
