{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 h-screen-dvh">
        <div
                {{ stimulus_controller('deaddrop--sidebar', {
                    loading: include('_includes/loading.html.twig'),
                    listUrl: path('api_deadrop_sidebar_list'),
                    showUrl: path('app_deaddrop_show', {deaddropId: 0}),
                }) }}
                data-action="leaflet:listDeaddrop@window->deaddrop--sidebar#showList leaflet:openDeaddrop@window->deaddrop--sidebar#showDeaddrop"
                class="col-span-1 w-full"
        >
            {{ include('_includes/loading.html.twig') }}
        </div>
        <div
                {{ stimulus_controller('leaflet', {
                    markers: deaddrops|json_encode,
                }) }}
                data-action="deaddrop--sidebar:fetchMarkers@window->leaflet#fetchMarkers deaddrop--sidebar:zoomTo@window->leaflet#zoomTo"
                class="col-span-1 lg:col-span-3 h-full flex justify-center items-center "
        >
            {{ include('_includes/loading.html.twig', {
                message: "Processing...",
            }) }}
        </div>
    </div>
{% endblock %}
